extend layout.pug

block content
  <img class="avatar" src="/avatar/#{user.avatar}">
  <h2>#{user.name}</h2>
  <hr>


  <h3>Ta发过的帖子</h3>
  each post in posts
    div
      a(href="/post/#{post.postId}")= post.title

  <h3>Ta发过的评论</h3>

  each comment in comments
    <div>
      <a href="/post/#{comment.postId}">#{comment.title}</a>
      <br>
      span= comment.content
      <hr>
    </div>

