extend layout.pug

block content
  h1= post.title
  p= post.content
  small= post.timestamp
  if post.owner == loginName
   button.delete(data-post-id=post.id) 删除帖子
   script.
    $("button.delete").on('click', async function(e) {
      var postId = this.dataset.postId
      if (confirm('确认删除吗？')) {
        await fetch('/post/' + postId, {
          method: 'DELETE'
        })
        alert('成功！')
        location.href = '/'
      }
    })

  ul
    each comment in comments
      li
        | #{comment.content}
        a(style={float: 'right'} href="/user/" + comment.owner)= comment.owner

  if loginName
    form(action=`/comment/${post.id}` method="post")
      div 发表评论
      textarea(name="content" rows="4" cols="30")
      br
      button 提交
  else
    p 想要评论？请先#[a(href="/login") 登陆]
